* {
    font-family: "montserrat";
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html, body{
   padding: 0;
   margin: 0;
}

h1 {
    font-weight: 700;
    font-style: 25px;
    margin: 0,0,16px,0;
   
}

p {
    color: #979797;
    margin: 0,0,16px,0;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}
section { 
    padding: 64px 128px;
}
.btn {
    background-color: #ffc108;
    color: black;
    padding: 8px 24px;

}
.btn-alt{
    background-color: white;
    color: black;
    margin-right: 16px;
    border: 2px solid #ffc108;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 128px;
  
    
}
#header h1{
    margin: 0;
    color: black;
    animation: sasa 1s infinite;
}
@keyframes sasa {
  from{
    filter: opacity(0);
  } to {
    filter: opacity(1);
  }
  
}
header a {
   margin-right: 10px;
   color: black;
}
header a:hover{
   cursor: pointer;
   color: #ffc108;
}

 #landing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
 }
 #landing > div{
    width: 50%;
 }
 #about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
 }
 #about > div{
    width: 50%;
 }
 #about-stats{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 72px;
    text-align: center;
 }
 .about-stats-item{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 #about-stats > div > div{
    width: 50px;
    height: 10px;
    background-color: #ffc108;
    margin-bottom: 14px;
 }
 .service-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .service-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
    margin-top: 72px;
 }
 .service-detail-items{
    box-shadow: 0 2px 2px #979797;
 }
.service-detail-items:hover{
  cursor: pointer;
  transform: scale(1.1);
}
 .service-detail-items img{
    width: 100%;
    filter: grayscale(2);
 }
  .service-detail-items img:hover{
    filter: grayscale(0);
  
 }
 .service-detail-items h2{
    padding: 0 16px;
 }
 .service-detail-items p {
    font-size: 16px;
    padding: 0 16px;
 }
 .contact-detail{
   display: flex;
   justify-content: space-between;
   margin-top: 72px;
   column-gap: 128px;
 }
 form {
   display: flex;
   flex-direction: column;
   border: 3px solid #ffc108;
   padding: 32px 16px;
 }
 form h1 {
   font-size: 27px;
   text-align: center;
 }
 form button{
   border: none;
   margin-top: 18px;
   font-size: 20px;
   font-weight: 700;
   
 }
 form button:hover{
   cursor: pointer;
 }
 .form-grup {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   column-gap: 32px;
   margin-top: 32px;
   grid-template-areas: 
   "name email"
   "subject phone"
   "pesan pesan";
 }
 #name {
   grid-area: name;
 }
 #email {
   grid-area: email;
 }
 #subject {
   grid-area: subject;
 }
 #phone {
   grid-area: phone;
 }
 #pesan {
   grid-area: pesan;
 }

 .input-grup{
   display: flex;
   flex-direction: column;
   margin-bottom: 32px;
 }
 .input-grup label {
   font-weight: 700;
   margin-bottom: 16px;
   font-size: 20px;
 }
 .input-grup input{
   border: none;
   outline: none;
   border-bottom: 1px solid black;
 }
 .input-grup input:focus{
   border-bottom: 1px solid #ffc108;
 }
 footer {
   padding: 16px 128px;
   background-color: #ffc108;
   color: antiquewhite;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 footer p {
   width: 50%;
   color: antiquewhite;
 }

 .social-media{
   display: flex;
   gap: 32px;
 }

 @media only screen and (max-width: 992px){
    #header,#footer{
      padding: 16px 32px;
    }
    section{
      padding: 64px 32px;
    }
    #landing {
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
    #landing > div{
      width: 100%;
    }
    #about {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #about > div { width: 100%;}
    .service-detail {
      gap: 16px;
    }
    .contact-detail{
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 64px;
    }
 }